@model phone_book.AuthoClientApp.ChangePasswordModel

@{ 
    ViewData["Title"] = "Change password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="change-password" class="change-password">
    <div class="container">
        <ul class="change-password-list">
            <li class="change-password-item">
                <h2 class="profile-header">
                    Изменение пароля
                </h2>
            </li>
            <li class="change-password-item">
                <form asp-action="ChangePassword" asp-controller="Account" asp-route-id="@Model.Id" method="post">
                    <div class="validation" asp-validation-summary="ModelOnly"></div>
                    <div class="text-field">
                        <input class="text-field__input" asp-for="@Model.OldPassword" type="password" placeholder="Текущий пароль">
                        <span asp-validation-for="OldPassword" />
                        <input class="text-field__input" asp-for="@Model.NewPassword" type="password" placeholder="Новый пароль">
                        <span asp-validation-for="NewPassword" />
                        <input class="text-field__input" asp-for="@Model.ConfirmPassword" type="password" placeholder="Повторите пароль">
                        <span asp-validation-for="ConfirmPassword" />
                        <input class="submit-field__input" type="submit" value="Отправить" />
                    </div>
                </form>
            </li>
        </ul>
    </div>
</section>