@model phone_book.AuthoClientApp.FogotPasswordModel

@{
    ViewData["Title"] = "Fogot password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="login">
    <div class="container">
        <form asp-action="FogotPassword" asp-controller="Account" asp-anti-forgery="true">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <h2 class="profile-item-header">
                    Забыли пароль?
                </h2>
                <input class="text-field__input" type="text" asp-for="Email" placeholder="Введите Email" />
                <span asp-validation-for="Email" />
                <input type="submit" value="Отправить" class="submit-field__input" />
            </div>
        </form>
    </div>
</section>