@model phone_book.AuthoClientApp.LoginModel

<section id="login">
    <div class="container">
        <form class="authentication-form" asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
            <h2 class="authentication-main-header">
                Вход на сайт
            </h2>
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <input class="text-field__input" type="text" asp-for="Email" placeholder="Введите Email" />
                <span asp-validation-for="Email" />

                <input class="text-field__input" asp-for="Password" placeholder="Введите пароль" />
                <span asp-validation-for="Password" />
                <ul class="authentication-form-list">
                    <li class="authentication-form-item">
                        <input type="submit" value="Войти" class="submit-field__input" />
                    </li>
                    <li class="authentication-form-item">
                        <a asp-action="Register" asp-controller="Account">Регистрация</a>
                    </li>
                    <li class="authentication-form-item">
                        <a asp-action="FogotPassword" asp-controller="Account">Забыли пароль?</a>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</section>
