@model phone_book.AuthoClientApp.LoginModel

<h2 class="authentication-main-header">
    Вход на сайт
</h2>
<form class="authentication-form" asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label class="authentication-form-text" asp-for="Email">Введите Email</label>
            <input class="authentication-form-input" type="text" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <label class="authentication-form-text" asp-for="Password">Введите пароль</label>
            <input class="authentication-form-input" asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <ul class="authentication-form-list">
            <li class="authentication-form-item">
                <input type="submit" value="Войти" class="authentication-item-button" />
            </li>
            <li class="authentication-form-item">
                <a asp-action="Register" asp-controller="Account">Регистрация</a>
            </li>
        </ul>
    </div>
</form>